# PyCharm settings
/.idea/*

# Python vitual environment
/.venv/*

# Python byte code
*.pyc

# test reports
**/test_reports/*

# Deployment build output
/deployment/build_output/*

# Documentation output
/docs/_build/*

# sandbox for trying things
/sandbox/*
