[MESSAGES CONTROL]
disable=
    broad-exception-raised,
    broad-exception-caught,
    too-few-public-methods,
    missing-class-docstring,
    missing-function-docstring,

    # pylint does not understand the test code construction is not a cyclic import
    cyclic-import,

    # Something to fix later
    duplicate-code
